<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zejian.aidl">

    <uses-permission android:name="com.zejian.provider" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".socket.SocketActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".AIDLService" android:process=":service" />


        <service android:name=".messenger.MessengerService" android:process=":messengerService"/>


        <provider
            android:authorities="com.zejian.content.provider"
            android:name=".contentProvider.PersonContentProvider"
            android:permission="com.zejian.provider"
            android:process=":provider"
            />

        <service android:name=".socket.TCPServerService"
            android:process=":socket"
            />
        <!--<activity android:name=".contentProvider.ContentProviderActivity" /> -->
    </application>

</manifest>